<div>
        <div class="row mt-3" >
            <div class="col-md-4">
                <div class="card text-white border-primary mb-3" style="max-width: 20rem;" *ngFor="let user of users">
                    <a (click)="getUser(user.userName)">
                        <div class="card-header">{{user.userName}}'s Budget</div>
                        <div class="card-body">
                        <h4 class="card-title">{{user.userName}}</h4>
                        <p class="card-text">Funds:${{user.amountStart}}</p>
                        <button class="btn btn-secondary mt-2" (click)="openUserEdit(template)">
                            Create New Transaction
                        </button>
                        <button class="btn btn-danger mt-2" (click)="deleteUserData(user.userName)">Delete User</button>
                    </div>
                    </a>
                </div>
            </div>
            <div class="col-md-8">
                <app-users [userTransactionDetail]="specificUser"></app-users>
            </div>
          </div>
          <div>
                  <!-- Modal for adding a new transaction -->
<ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Add Transaction</h4>
      <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
      </button>
    </div>
    <div class="modal-body">
  <!-- TODO: Update the values of the transactionForm to take values from amountofTransaction, transactionDescription, and transactionType -->
      <form [formGroup]="transactionForm" (ngSubmit)="addNewTransaction(transactionForm)" id="transForm">
          <div class="form-group">
              <label for="amountOfTransaction">Transaction Amount</label>
              <input 
              type="range" min="10" max="5000" value="" class="form-range" 
              id="amountOfTransaction"
              formControlName="amountOfTransaction">
          </div>
          <div class="form-group">
              <label for="transactionDesc">Transaction Description:</label>
              <select 
              name="tDescription" 
              id="transactionDesc" 
              formControlName="transactionDesc">
                  <option 
                  *ngFor="let transDesc of transactionDescriptions"
                  [ngValue]="transDesc">
                    {{ transDesc }}
                </option>
              </select>
          </div>
          <div class="form-group">
              <label for="transactionType">Transaction Type:</label>
              <select name="tType" id="transactionType" formControlName="transactionType">
                <option 
                  *ngFor="let transType of transactionType"
                  [value]="transType">
                    {{ transType }}
                </option>
            </select>
          </div>
          <button 
          class="btn btn-primary"
          [disabled]="!transactionForm.dirty"
          type="submit">Submit</button>
      </form>
    </div>
  </ng-template>
  
          </div>
    </div>

